<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/html.html to edit this template
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layaout">
    <head>
        <title>PACTO</title>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" th:href="@{/css/estilo.css}">
		<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}">
    </head>
    <body id="cuerpoP">
    <center><img src="img/encabezadoPACTO.jpeg" width="1297" height="394"></center>
    <!-- PAGINA WEB (O PAGINAS WEB DE LOS PARTIDOS DE LOS CANDIDATOS) (Adecuarlo el estilo a su gusto y el contenido que considere) 
    PUEDEN HACER 1 PAGINA POR PARTIDO O UNA SOLA PARA TODOS LOS PARTIDOS NEVAGANDO CADA PARTIDO CON ANCLAS -->
    <hr>
    <br>
    <center id="titulo"><strong><font size="6">PACTO HISTORICO</font></strong></center><br>
    <hr>
    <h2>Principios del PACTO</h2>
    <p align="left">
        De acuerdo con Adriana Otálora Buitrago, docente investigadora de la Universidad de La Salle, aunque como
        Pacto Histórico llevan poco tiempo, “Gustavo Petro ha seguido haciendo política, de hecho no ha parado desde
        hace cuatro años, y su forma de hacer política, de incluir otros temas en el debate público se fortalece con
        las alianzas que conforman hoy el Pacto Histórico, las cuales defienden algunos de los principios básicos del
        progresismo como la equidad de género, la inclusión y justicia social, y el cuidado del medio ambiente, entre
        otros temas”.
    </p>

    <p align="left">
        Pero, ¿quiénes lo conforman y qué proponen? El movimiento del Pacto Histórico está compuesto por cinco partidos
        de izquierda y centroizquierda: Colombia Humana, el Polo Democrático, el Movimiento Alternativo Indígena y Social
        (MAIS), y la Unión Patriótica, reuniendo a representantes de la oposición como Gustavo Bolívar, María José Pizarro,
        Alexander López Maya, Aida Avella, Roy Barreras, Piedad Córdoba, Iván Cepeda y Clara López, entre otros.  

    </p>

    <center><iframe name="Marquito" src="https://pactohistorico.com/" width="90%" height="300"></iframe></center>
</body>
</html>
