<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/html.html to edit this template
-->

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layaout">
    <head>
        <title>LIGA</title>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" th:href="@{/css/estilo.css}">
		<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}">
    </head>
    <body id="cuerpoP">
    <center ><img src="img/encabezadoLIGA.jpeg" width="1297" height="394"></center>
    <!-- PAGINA WEB (O PAGINAS WEB DE LOS PARTIDOS DE LOS CANDIDATOS) (Adecuarlo el estilo a su gusto y el contenido que considere) 
    PUEDEN HACER 1 PAGINA POR PARTIDO O UNA SOLA PARA TODOS LOS PARTIDOS NEVAGANDO CADA PARTIDO CON ANCLAS -->
    <hr>
    <br>
    <center id="titulo"><strong><font size="6">LIGA DE GOBERNATNES ANTICORRUPCIÓN</font></strong></center><br>
    <hr>
    <h2>Principios de la LIGA</h2>
    <p align="left">
        En los estatutos del Grupo Significativo de Ciudadanos Liga de Gobernantes Anticorrupción “LIGA“,
        se afirma que el movimiento político se ajustará en su organización y funcionamiento a los principios
        básicos de juego limpio, transparencia, igualdad, equidad de género, pluralismo, objetividad y el deber
        de presentar y divulgar sus programas políticos de conformidad con lo dispuesto en la Constitución, en las
        leyes y en sus reglamentaciones interna.
    </p>

    <p align="left">
        El líder del movimiento político, Rodolfo Hernández, declara estar a favor del matrimonio igualitario,
        la adopción por parte de parejas homosexuales, la legalización de la marihuana medicinal y recreativa,
        la eutanasia y el suicidio asistido. Sobre el aborto asegura que en un eventual gobierno suyo este derecho
        se respetara y afirma que «es decisión de la mujer si hacerse un aborto o no»
        
    </p>

    <center><iframe name="Marquito" src="https://www.ligadegobernantesanticorrupcion.com/" width="90%" height="300"></iframe></center>
</body>
</html>