<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/html.html to edit this template
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layaout">
    <head>
        <title>CENTRO ESPERANZA</title>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" th:href="@{/css/estilo.css}">
		<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}">
    </head>
    <body id="cuerpoP">
    <center><img src="img/encabezadoCentro.jpeg" width="1297" height="394"></center>
    <!-- PAGINA WEB (O PAGINAS WEB DE LOS PARTIDOS DE LOS CANDIDATOS) (Adecuarlo el estilo a su gusto y el contenido que considere) 
    PUEDEN HACER 1 PAGINA POR PARTIDO O UNA SOLA PARA TODOS LOS PARTIDOS NEVAGANDO CADA PARTIDO CON ANCLAS -->
    <hr>
    <br>
    <center id="titulo"><strong><font size="6">COALICION CENTRO ESPERANZA</font></strong></center><br>
    <hr>
    <h2>Principios del Centro Esperanza</h2>
    <p align="left">
         Reafirmamos que los recursos públicos son sagrados. La lucha frontal contra la corrupción es la primera condición
         para recuperar la confianza perdida de la ciudadanía en las instituciones. El saqueo al Estado tiene que parar. Condenamos
         el clientelismo y las prebendas a grupos de interés partidista o particular.
    </p>

    <p align="left">
        Nos comprometemos con la implementación plena del Acuerdo de Paz, en particular con la puesta en marcha de la reforma rural
        integral y el reconocimiento de los derechos de las víctimas. Garantizamos la seguridad en los territorios y la protección
        de los líderes sociales, así como la solución efectiva al problema de los cultivos de uso ilícito teniendo en cuenta a las
        comunidades y el respeto al medio ambiente.
    </p>
    
    <p align="left">
        Consideramos que la educación tiene que ser el punto de encuentro igualitario de los colombianos. Promoveremos el derecho
        a la educación pública universal y gratuita que garantice acceso y calidad, de acuerdo con las necesidades y dinámicas nacionales
        y regionales.    
    </p>

    <center><iframe name="Marquito" src="https://coalicioncentroesperanza.com/" width="90%" height="300"></iframe></center>
</body>
</html>
