<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/html.html to edit this template
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layaout">
    <head>
        <title>FICO</title>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" th:href="@{/css/estilo.css}">
		<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}">
    </head>
    <body id="cuerpoP">
    <center><img src="img/encabezadoFICO.jpeg" width="1297" height="394"></center>
    <!-- PAGINA WEB (O PAGINAS WEB DE LOS PARTIDOS DE LOS CANDIDATOS) (Adecuarlo el estilo a su gusto y el contenido que considere) 
    PUEDEN HACER 1 PAGINA POR PARTIDO O UNA SOLA PARA TODOS LOS PARTIDOS NEVAGANDO CADA PARTIDO CON ANCLAS -->
    <hr>
    <br>
    <center id="titulo"><strong><font size="6">EQUIPO POR COLOMBIA [FICO]</font></strong></center><br>
    <hr>
    <h2>Principios del Equipo FICO</h2>
    <p align="left">
        ⨂Crear un gobierno con carácter, capacidad técnica y responsabilidad con la ciudadanía que buscar ponerle freno a la amenaza del populismo de izquierda evidente en las últimas elecciones presidenciales.
    </p>
    <p align="left">
        ⨂Enfrentar las dificultades económicas de Colombia a través del combate a la pobreza que trajo consigo la pandemia con el lema de la lucha contra la desigualdad social, la generación de más y mejores empleos y garantizar el enfoque en las regiones.

    </p>
    <p align="left">
        ⨂Impulsar la recuperación de la navegabilidad de los ríos y de las vías férreas; con la triplicación de la inversión en vías terciarias para que los campesinos y emprendedores del campo, tengan condiciones para producir sus tierras.

    </p>
    <p align="left">
        ⨂Presentar listas al Senado de la República y a la Cámara de Representantes en las Elecciones legislativas del 13 de marzo de 2022 con listas abiertas por el Partido de la Unión por la Gente (PUG), el Partido Conservador Colombiano (PCC) y el Partido Político MIRA (PPM)

    </p>
    <p align="left">
        ⨂Ganar la presidencia en las elecciones presidenciales del 29 de mayo de 2022 (primera vuelta), y dado el caso, en las del 19 de junio de 2022 (segunda vuelta).

    </p>


    <p align="left">


    </p>

    <center><iframe name="Marquito" src="https://colombia.as.com/colombia/2022/02/21/actualidad/1645463093_790192.html" width="90%" height="300"></iframe></center>
</body>
</html>